html{
    background-color: #DDD2CA;
}
header {
    background-color: rgb(20, 20, 20)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #261D17;
    scroll-snap-align: start;
    flex-direction: column;
}

section img {
    padding: 10px;
    border: 5px solid white;
}

::-webkit-scrollbar {
    display: none;
}

.homeContainer {
    /* scroll-snap-type: y mandatory; */
    /* overflow-y: scroll; */
    overflow-x: hidden;
    height: 100vh;
}

.titleF {
    font-size: 2em;
}

.textF {
    font-size: 1.5em;
}

.one{
    background-color: #DDD2CA;
}

.two{
    background-color: #D92938;
}

.three{
    background-color: #DDD2CA;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.four{
    background-color: #D92938;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.four h1 {
    width: 50vw;
    font-size: 1.3em;
}

.reveal { animation: fadeIn 2s; }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

button {
    background-color: #1C66A6;
}
button:hover {
    background-color: #14558f;
}
li:hover{
    background-color: #1C66A6;
}