#productCard {
  background-color: #D92938;
}

#itemCard {
  background-color: #D92938;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  font-size: 1.5em;
}

.marginZero {
  margin: 0;
}

.centerCon {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  height: 100vh;
  margin-top: auto;
}

.centerCon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.singleBig{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.singleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #D92938;
  padding: 25px;
  border-radius: 15px;
}

.singleContainer img {
  border-radius: 15px;
}

.topRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1C66A6;
  padding: 25px;
  border-radius: 15px;
}